#tasks_table{
  border: 1px solid;
  width:100%;
  border-collapse: collapse;
}

#tasks_table tr
{
  width:100%;
  border-top: 1px solid #D1D1D1;
}

#tasks_table tr:first-child
{
  border-top: 0;
}

#tasks_table tr:nth-child(even) {
  background: #FAFAFA;
}

.scheduled_for {
  width: 150px;
}

#tasks_table td {
  padding: 10px 10px;
  margin: 0;
  text-align: center;
}

.scedule{
  background-color: #449CE8;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.show{
 background-color: #FBDD6F;
 padding: 5px 10px;
 border-radius: 5px;
 color: #000;
 box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0,0,0,0.19);
}

.button{
  cursor: pointer;
}